<div class="form-container">

    <form #noteForm="ngForm" (submit)="onSubmit(noteForm, $event)">

        <div class="field">
            <label class="label">Titulo</label>
            <div class="contol">
                <input type="text" name="title" [ngModel]="note.title" required class="input" #title>
            </div>
        </div>

        <br>

        <div class="field">
            <label class="label">Descrição</label>
            <div class="control">
                <textarea class="textarea" name="body" [ngModel]="note.body" #body></textarea>
            </div>
        </div>

        <div class="field-bottom is-grouped is-pulled-right">
            <div class="control">
                <button class="button is-text" type="button" (click)="cancel()" >Cancelar</button>
            </div>
            <div class="control">
                <button class="button is-success" type="submit" (click)="EnviarDados(title.value, body.value)">Salvar</button>
            </div>
        </div>

    </form>

</div>