<html>
   <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <div class= "icon-container">
      <div class="icon-circle ">
      <i class="fas fa-user" style="font-size: 120px;"></i>
      </div>
    </div>
    <div class="card"> 
      <form class="login-form">
        <h1 class="main-title">Reset your password</h1>
        <h2 class="card-title">Enter your email</h2>
        <input type="text" name="username" placeholder="E-mail" required>
        <button (click)="goToHome()">Send</button>
        <p class="sign-up">Already have an account? <a routerLink="/login">Sign-in</a></p>
      </form>
    </div>
  </body>
</html>
