.icon-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.icon-container i {
    color: rgb(204, 204, 204);
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 3px solid rgb(190, 190, 190);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 52%;
  background-color: rgba(230, 230, 230, 1);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border: 0.1px solid rgb(182, 182, 182);
  border-radius: 50px;
}

.main-title{
  font-weight: bolder;
  color: black;
  font-size: 1.15em;
  padding-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.login-form input {
    width: 100%;
    height: 40px;
    padding:8.5px;
    border:none;
    border-radius:10px;
    box-shadow:
        inset 0px -2px #c7c7c7,
        0px 0px 5px rgba(0,0,0,0.1);
}

.login-form input[name="username"] {
    margin-bottom: 18px;
}

.forgot-password{
  font-size: 0.8em;
  color: grey;
  text-decoration: underline;
  padding-right: 120px;
}

.login-form button {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    border:none;
    border-radius:10px;
    color:white;
    background: linear-gradient(to right, #e0b0ff, #b19cd9, #9370db);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 1.2em;
}

.login-form button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.sign-up {
    text-align: center;
    padding-top: 10px;
}

.sign-up a {
    color: #9370db;
}