<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <div class= "icon-container">
      <div class="icon-circle ">
      <i class="fas fa-user" style="font-size: 120px;"></i>
      </div>
    </div>
    <div class="card"> 
      <form class="login-form">
        <div class="main-title">
          <h1 class="main-title">Create your new account!</h1>
        </div>
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Confirm your password" required>
        <button (click)="goToHome()">Register</button>
        <p class="sign-up">Already have an account? <a routerLink="/login">Sign-in</a></p>
      </form>
    </div>
  </body>
</html>